/*
 * Editar Equipo CSS Styles
 */
.form-group {
    margin-bottom: 1rem;
}

.card-title {
    color: #dc8428;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.file-upload-label {
    display: block;
    margin-top: 10px;
}

/* Estilos para los documentos adjuntos */
.document-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    border: 1px solid #eee;
    border-radius: 4px;
    margin-top: 5px;
}
