/*
 * Gesti칩n Usuarios CSS Styles
 */

.table-responsive {
    margin-top: 20px;
}

/* Cabecera de la tabla */
.table th {
    background-color: #f2f2f2;
    color: #343a40;
    font-weight: 600;
}

/* Estilo para el rol de administrador */
.rol-admin {
    font-weight: 700;
    color: #dc8428; /* Naranja Coyahue */
}

/* Estilo para filas de la tabla */
.table-hover tbody tr:hover {
    background-color: #f5f5f5;
}

/* Bot칩n de acci칩n r치pida */
#btn-agregar-usuario {
    margin-top: 20px;
}}
